// Миксин для общих текстовых стилей
@mixin text-styles {
  font-family: HelveticaNeueCyr;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

// Миксин для текстовых стилей с жирным шрифтом
@mixin bold-text-styles {
  @include text-styles;
  font-weight: 700;
}

// Миксин для общих стилей ссылок
@mixin link-styles {
  @include text-styles;
  color: #7F8589;
  text-decoration: none;

  &:hover {
    color: #FFFFFF;
  }
}

// Миксин для стилей заголовка в подразделе футера
@mixin footer-title-styles {
  @include bold-text-styles;
  color: #FFFFFF;
}

// Миксин для стилей описания в подразделе футера
@mixin footer-description-styles {
  @include text-styles;
  font-size: 15px;
  line-height: 23px;
  color: #7F8589;
}

footer {
  background: #0F1214;
  padding-top: 88px;
  padding-bottom: 81px;
}

p.menu-footer__production-title {
  @include footer-title-styles;
}

a.menu-footer__item {
  @include link-styles;
}

ul.menu-footer__items li {
  margin-top: 9px;
}

a.menu-footer__others {
  @include footer-title-styles;
}

.additional-menu {
  margin-top: 32px;
}

.additional-menu-item {
  margin-top: 25px;
}

.row-footer {
  padding-top: 88px;
  padding-bottom: 81px;
}

.row-right {
  justify-content: flex-end !important;
}

/* Используйте миксины для стилей номера телефона и почты */
.menu-footer__number-phone {
  @include bold-text-styles;
  color: #FFFFFF;
  font-size: 32px;
  line-height: 40px;
}

.menu-footer__number-phone__make-call {
  border-bottom: 1px solid #2B3032;
  margin-top: 24px;

  span {
    display: inline-flex;
  }

  span svg {
    margin-left: -6px;
  }

  span p {
    @include text-styles;
    margin-top: 7px;
  }
}

.menu-footer__mail {
  display: inline-flex;
  margin-top: 24px;

  span {
    display: inline-flex;
  }

  span svg {
    margin-left: -6px;
  }

  span p {
    @include text-styles;
    margin-top: 7px;
  }
}

/* Используйте миксины для стилей офиса */
.office {
  margin-top: 66px;
}

.office__title {
  @include footer-title-styles;
}

.office__description {
  @include footer-description-styles;
}

.second-footer {
  border-top: 1px solid #1B1C1C;
}
