@media (max-width: 767px) {
  .collage-photo {
    display: none;
  }

  .collage-photo-mobile {
    display: block;
  }

  .img-samokat {
    display: none!important;
  }

  .svg-text-society {
    display: none!important;
  }

  .samokat-image {
    display: none;
  }

  .purple-gradient {
    display: none;
  }

  .plus-yandex {
    display: none!important;
  }
}
